@media (prefers-color-scheme: dark) {
    :root {
        --bs-dark-rgb: 0, 0, 0;
        --bs-bg-opacity: 1;
    }

    html, body {
        background-color: #000000 !important;
        color: #ffffff;
    }

    #breathCircle {
        background: #121212 !important;
    }

    body {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    /* Buttons */
    .btn-primary {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    header,
    footer {
        color: #ccc;
    }

    /* Links */
    a {
        color: #4ea1f3;
    }

    a:hover {
        color: #a3cdfd;
    }
}

body {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
}

#phaseDisplay {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

#timerDisplay {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0.2rem;
    color: #007bff;
    display: none;
}

#settingsToggle {
    cursor: pointer;
    font-size: 1.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    user-select: none;
}

#breathCircle {
    display: block;
    margin: 0 auto 20px auto;
    background: #eaeaea;
    border-radius: 50%;
}
